
svg.loading {
    height: 200px;
    max-width: 25em;
    border-radius: 3px;
    background: #000;
    fill: none;
    stroke: #222;
    stroke-linecap: round;
    stroke-width: 8%;
}

svg.loading use {
    stroke: #fff;
    animation: a 2s linear infinite;
}

@keyframes a {
    to {
        stroke-dashoffset: 0;
    }
}
